.App {
  height:500px;
  width:430px;
  background-color:rgb(231, 250, 254);
  padding:50px;
  border: 20px;
  border-radius:40px;
  cursor: pointer;
  outline-offset: 4px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 80px;
  margin-bottom: 40px;
  
 
  
}


.App-logo {
  text-align: start;
  
  font-size: 15px;
  line-height: 30px;
  font-family: Geneva, sans-serif;
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
  color:darkslateblue ;
}

.App-header {
font-size: 15;
line-height: 25px;
text-align: start;
padding-left: 50%;
font-family: Geneva, sans-serif;
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
  color:darkslateblue ;

}


.h1 {	
	font-family: 'CoreCircus', sans-serif;
	text-transform: uppercase;
	font-size:50px;
	text-align: center;
	line-height: 1;
	margin: 0;
  top:30px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color:black;
	text-shadow: 
			-1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple, 1px 1px 0 purple, 
			1px 0px 0px green, 0px 1px 0px green, 2px 1px 0px green, 1px 2px 0px green, 3px 2px 0px green, 2px 3px 0px green, 4px 3px 0px green, 3px 4px 0px green, 5px 4px 0px green,
			3px 5px 0px purple, 6px 5px 0px purple, 
			-1px 2px 0 black, 0 3px 0 purple, 1px 4px 0 purple, 2px 5px 0px purple,
			2px -1px 0 purple, 3px 0 0 purple, 4px 1px 0 purple, 5px 2px 0px purple, 6px 3px 0 purple, 7px 4px 0 purple,
		10px 10px 4px #dac249;
}